@use "../../base.scss";

.job {
  max-width: fit-content;
  margin: 2rem auto;
  padding: 3rem 2rem;
  display: grid;
  grid-template-columns: minmax(100px, 1fr) 1fr;
  grid-gap: 2rem;
  align-items: center;
  justify-items: center;
  background: rgba($color: base.$white, $alpha: .01);
  box-shadow: base.$drop-shadow;
}

.job svg {
  width: 100%;
  padding: 1rem;
  fill: base.$white;
}

.job-text {
  max-width: 80ch;
  padding: 1rem;
}

.job-text>* {
  margin: 0;
}

.job-text h3 {
  color: base.$primary-color;
}

.job-text span {
  font-size: .6em;
  color: base.$white;
}

.job-text h3+p {
  font-size: .8em;
}


.job-text div {
  margin-top: 2rem;
  border-top: .2rem solid base.$white;
}

.job-text div p,
.job-text h4 {
  margin-right: 0;
  margin-left: 0;
}

@media (max-width: base.$mobile-size) {
  .job {
    grid-template-columns: 1fr;
    padding: 3rem 0;
    margin: 1rem auto;
  }
}