@use "../../base.scss";

.job {
  align-items: center;
  background: rgba($color: base.$white, $alpha: .01);
  border-radius: base.$border-curve;
  box-shadow: base.$drop-shadow;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: auto auto;
  justify-items: center;
  margin: 2rem 1rem;
  padding: 3rem 2rem;
}

.job svg {
  fill: base.$white;
  padding: 2rem;
  width: 100%;
}

.job-text {
  max-width: 80ch;
  padding: 1rem;
}

.job-text>* {
  margin: 0;
}

.job-text h3 {
  color: base.$primary-color;
}

.job-text span {
  color: base.$white;
  font-size: .6em;
}

.job-text h3+p {
  font-size: .8em;
}


.job-text div {
  border-top: .2rem solid base.$white;
  margin-top: 2rem;
}

.job-text div p,
.job-text h4 {
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: base.$tablet-size) {
  
  .job {
    grid-template-columns: 1fr;
    margin: 1rem auto;
    padding: 3rem 0;
  }
}