@use "../../base.scss";

.job {
  max-width: fit-content;
  margin: auto;
  padding: .5rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.job img {
  justify-self: center;
}

.job-text {
  max-width: 90ch;
}

.job-text>* {
  margin: 0;
}

.job-text span {
  font-size: .6em;
}

.job-text div {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: .2rem solid white;
}

.job-text div p,
.job-text h4 {
  margin-right: 0;
  margin-left: 0;
}

@media (max-width: base.$mobile-size) {
  .job {
    grid-template-columns: 1fr;
  }
}