@use '../../base.scss';

body {
  overflow-x: hidden;
}

.cover-frame {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 10px 3fr 2fr 10px;
  border-bottom: 5px solid base.$tert-color;
  color: base.$white;
}

.cover-frame>div {
  align-self: flex-end;
}

header h1 {
  position: relative;
  text-shadow: 10px 10px 15px base.$dark;
  margin: 0;
}

span {
  font-size: 1.4rem;
}

img {
  position: relative;
  display: block;
  max-width: 100%;
  z-index: 2;
}

.first-column {
  padding: 1rem .5rem;
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  z-index: 10;
}

.second-column {
  align-self: end;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.circle {
  position: absolute;
  top: 20%;
  right: 0%;
  width: calc(250px + 30vw);
  height: calc(250px + 30vw);
  background: base.$secondary-color;
  border-radius: 100%;
  z-index: -1;
}

@media (max-width: base.$mobile-size) {
  .cover-frame {
    grid-template-columns: 1fr;
    height: 100vh;
  }

  .first-column,
  .second-column {
    grid-column: 1 / -1;
  }
}