@use '../../base.scss';

.cover-frame {
  width: 100%;
  height: 100vh;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 10px 2fr 3fr 10px;
  // border-bottom: 5px solid base.$tert-color;
  color: base.$white;
  background: base.$gradient-multi;
}

.cover-frame>div {
  align-self: flex-end;
}

header h1 {
  position: relative;
  text-shadow: 4px 4px 10px base.$dark;
  margin: 0;
}

span {
  font-size: 1.4rem;
}

header img {
  position: relative;
  filter: drop-shadow(2px 5px 10px base.$dark);
}

.first-column {
  padding: 1.2rem .5rem;
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  z-index: 10;
}

.second-column {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  display: flex;
  justify-content: flex-end;
}

.circle {
  position: absolute;
  bottom: 0%;
  right: 1%;
  width: calc(300px + 30vw);
  height: calc(300px + 30vw);
  background: base.$gradient-one;
  border-radius: 100%;
  filter: drop-shadow(-10px -10px 0 base.$transparent-white);
  z-index: -1;
}

@media (max-width: base.$mobile-size) {
  .cover-frame {
    grid-template-columns: 1fr;
    height: 100vh;
  }

  .first-column,
  .second-column {
    grid-column: 1 / -1;
  }
}