@use "../../base.scss";

// Rework cover layout to better work on mobile

.cover-frame {
  background: base.$gradient-multi;
  color: base.$white;
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin-bottom: 3rem;
  padding-top: 150px;
}

.cover-frame > div {
  align-self: flex-end;
}

header h1 {
  margin: 0 0 5px 0;
  text-shadow: 4px 4px 10px base.$dark;
}

span {
  font-size: 1.4rem;
}

header img {
  filter: drop-shadow(2px 5px 10px base.$dark);
  position: relative;
}

.first-column {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  padding: 1.2rem 0.6rem;
  z-index: 10;
}

.second-column {
  display: flex;
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  justify-content: flex-end;
}

@media (max-width: base.$mobile-size) {
  .cover-frame {
    grid-template-columns: 1fr;
  }

  .first-column {
    background: base.$transparent-dark;
    border-top: 5px solid base.$tert-color;
    grid-row: 2 / 3;
    justify-self: center;
  }

  .second-column {
    grid-column: 1 / -1;
  }
}
