@use "../../base.scss";

.example-page-cover {
  width: 100vw;
  font-size: clamp(3.2em, 10vw, 8em);
}

.example-page-cover img {
  margin: auto;
  object-fit: cover;
}

.example-page h1 {
  font-size: 0.5em;
  margin: 4rem 0.5rem 1rem 0.5rem;
}

.example-page h3 {
  margin-top: 1em;
}

.example-page figure {
  margin-top: 3rem;
}

.example-page-text {
  max-width: 80ch;
  margin: auto;
}

.embed {
  width: 90%;
  height: 70vh;
  margin: 1rem auto;
}

.example-page embed {
  display: block;
  width: 100%;
  height: 100%;
}

.example-page-link {
  display: flex;
  justify-content: center;
}

.example-page a:not(p > a) {
  padding: 1.2rem 3.2rem;
  background: base.$primary-color;
  color: base.$white;
  text-decoration: none;
}

.example-page a:hover {
  background: base.$white;
  color: base.$primary-color;
}

.example-page iframe {
  max-width: 100%;
  width: 1000px;
  height: 400px;
}

@media (max-width: base.$mobile-size) {
  .example-page iframe {
    height: 250px;
  }
}
