@use '../../base.scss';

.example-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.example-grid-item {
  display: grid;
  background: blue;
}

.example-grid-item img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  justify-self: stretch;
  object-fit: cover;
}

.example-grid-item div {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  align-self: flex-end;
  margin: 1rem;
}

.example-grid-item span {
  font-size: .6em;
  margin: 0;
}

@media (max-width: base.$mobile-size) {
  .example-grid {
    grid-template-columns: 1fr;
  }
}