@use '../../base.scss';

.header-grid {
  width: 100vw;
  position: fixed;
  top: 0;
  display: grid;
  grid-template-columns: 80px 1fr;
  align-items: center;
  z-index: 100;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  grid-column: 2 / -1;
  margin: 1rem 0;
  list-style: none;
}

nav ul a {
  display: block;
  padding: .6rem 1.6rem;
  margin-right: calc(.6rem + 1vw);
  background: base.$transparent-primary;
  backdrop-filter: base.$blur;
  box-shadow: base.$drop-shadow;
  color: base.$white;
  text-decoration: none;
  cursor: pointer;
  border-radius: base.$border-curve;
}

nav ul a:active {
  background: rgba($color: base.$secondary-color, $alpha: .8);
}

nav ul a:hover {
  background: rgba($color: base.$white, $alpha: .8);
  color: base.$primary-color;
  border-radius: calc(base.$border-curve * 2);
  transform: scale(110%);

}

.logo {
  max-width: 50px;
  z-index: 100;
}

.logo a {
  padding: 1rem;
  filter: drop-shadow(4px 4px 12px rgba($color: #000000, $alpha: .8));
}

.logo svg {
  transition: 300ms ease-in-out;
}

.logo svg:hover {
  filter: hue-rotate(180deg);
  transform: scale(110%);
}

.burger-container {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  display: none;
  justify-self: flex-end;
}

@media (max-width: base.$mobile-size) {
  .desktop-menu {
    display: none;
  }

  .burger-container {
    display: flex;
  }

}