@use "../../base.scss";

footer {
  position: relative;
  padding: 4rem 0;
  max-height: auto;
  overflow: hidden;
}

footer form {
  max-width: 60ch;
  margin: auto;
  padding: 3rem 1rem;
  background: rgba($color: base.$primary-color, $alpha: .8);
  box-shadow: base.$drop-shadow;
  backdrop-filter: base.$blur;
}

footer fieldset>* {
  margin-top: 1rem;
}

footer fieldset {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: none;
}

footer h2 {
  text-align: center;
  font-size: 2rem;
  margin: 0;
}

footer label,
footer input,
footer textarea {
  width: 100%;
  font-family: base.$body-fonts;
}

footer textarea,
footer input {
  color: base.$dark;
  font-size: 1rem;
  padding: .5rem;
}

footer textarea {
  height: 15ch;
  resize: vertical;
}

footer input {
  height: 5ch;
  border: none;
}

footer label {
  font-size: 1.2rem;
}

footer button {
  width: 100%;
  padding: 1rem;
  background: base.$dark;
  font-family: base.$body-fonts;
  font-size: 1.4rem;
  color: base.$white;
  border: none;
  cursor: pointer;
}

footer button:hover {
  background: base.$secondary-color;
  color: base.$white;
}

footer .social-links {
  max-width: 60ch;
  margin: 4rem auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.social-links a {
  backdrop-filter: base.$blur;
  border-radius: 15px;
}

.social-links svg {
  width: 80px;
  fill: base.$white;
}

.social-links svg:hover {
  fill: base.$primary-color;
}

footer .circle {
  position: absolute;
  top: 10%;
  left: -25%;
  width: calc(250px + 60vw);
  height: calc(250px + 60vw);
  background: base.$secondary-color;
  border-radius: 100%;
  z-index: -1;
}