@use '../../base.scss';

.fancy-list ul,
.nested-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  margin: 1rem auto;
  max-width: 90%;
  padding: 0;
}

.nested-list {
  grid-template-columns: repeat(2, 1fr);
}

.fancy-list ul li,
.nested-list-item {
  backdrop-filter: base.$blur;
  border-radius: base.$border-curve;
  box-shadow: base.$drop-shadow;
  font-family: base.$header-fonts;
  padding: calc(1rem + 1%) calc(1rem + 2%);
}

.fancy-list ul li {
  font-size: 1.2rem;
  text-align: center;
}

.nest-list-item {
  text-align: start;
}

.nested-list-item h3 {
  color: base.$primary-color;
  font-size: clamp(1.2em, 2.5vw, 1.8em);
}

@media (max-width: base.$tablet-size) {
  
  .fancy-list ul {
    grid-template-columns: 1fr;
  }

  .nested-list {
    grid-template-columns: 1fr;
  }
}