@use '../../base.scss';

.fancy-list ul,
.nested-list {
  max-width: 90%;
  margin: 1rem auto;
  // display: flex;
  // justify-content: center;
  // flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 0;
  list-style: none;
}

.nested-list {
  grid-template-columns: repeat(2, 1fr);
}

.fancy-list ul li,
.nested-list-item {
  padding: calc(1rem + 1%) calc(1rem + 2%);
  box-shadow: base.$drop-shadow;
  backdrop-filter: base.$blur;
  font-family: base.$header-fonts;
}

.fancy-list ul li {
  font-size: 1.2rem;
  text-align: center;
}

.nest-list-item {
  text-align: start;
}

.nested-list-item h3 {
  font-size: clamp(1.2em, 2.5vw, 1.8em);
  color: base.$primary-color;
}

@media (max-width: base.$mobile-size) {
  .fancy-list ul {
    grid-template-columns: 1fr;
  }

  .nested-list {
    grid-template-columns: 1fr;
  }
}