@use 'base.scss';

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 20px;
  background: base.$dark;
  color: base.$white;
}

p,
span,
a,
li,
form {
  font-family: base.$body-fonts;
}

p {
  line-height: 1.6rem;
  margin-bottom: 2rem;
}

h1,
h2,
h3,
h4 {
  font-family: base.$header-fonts;
}

h1 {
  font-size: calc(2.6rem + 6vw);
  line-height: calc(3rem + 5vw);
  margin: 5rem 1rem 1rem 1rem;
}

h2 {
  font-size: calc(1.2rem + 1vw);
  line-height: calc(1.4rem + 1vw);
}

img {
  display: block;
  max-width: 100%;
}